.container {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  width: 480px;
  height: 200px;
  border: 1.2px solid lavender;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.title {
  margin: 12px;
  font-size: 18px;
}

.toggle {
  display: flex;
  margin: auto;
}

.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 72px;
  height: 36px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.label .button {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  border-radius: 45px;
  transition: 0.2s;
  background: white;
}

.button {
  cursor: pointer;
}

.checkbox:checked + .label .button {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.checkbox:checked + .label {
  background-color: darkslategray;
}

.label:active .button {
  width: 58px;
}

.description {
  padding-bottom: 28px;
  font-size: 12px;
}
